/* General settings */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    color: white;
}

h2{
    font-family: 'League Gothic', sans-serif;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3, .subtitle{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Main box structure */

.spotify-box{
    display: flex;
    flex-wrap: wrap;
}

.side-bar{
    flex: 0 0 200px;
    z-index: 3000;
    overflow: hidden;
    padding: 1rem;
    background-color: black;
}

.top-main{
    flex: 0 0 calc(100% - 200px);
    overflow: auto;
    background-color: #141922;
}

.top-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: rgba( 0, 0, 0, 0.4);
}

.btn-top{
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    text-decoration: none;
    transition: 1s;
}

.btn-top:hover{
    transform: scale(1.1);
}

/* Side bar elements */

.side-bar .logo{
    margin-bottom: 2rem;
}

.side-bar .logo img{
    width: 150px;
}

.logo .logosmall{
    display: none;
}

.link-icon{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    width: max-content;
}

.link-icon img{
    min-width: 0;
    width: 30px;
    padding-right: 0.5rem;
    opacity: 0.5;
}

.link-icon:hover a img{
    opacity: 1;
}

.link-icon a, .side-playlist a{
    font-size: 0.7rem;
    text-decoration: none;
    color: lightgrey;
}

.link-icon:hover a{
    color: white;
}

.side-playlist h3{
    text-align: start;
    font-size: 0.8rem;
}

.icon-playlist{
    display: flex;
    align-items: center;
    width: max-content;
}

.icon-playlist .create{
    font-size: 0.7rem;
    color: lightgray;
}

.icon-playlist .plus-icon{
    font-size: 2rem;
    padding-right: 0.5rem;
    opacity: 0.5;
}

.icon-playlist .plus-icon:hover{
    opacity: 1;
}

.icon-playlist .create:hover{
    color: white;
}

.play-name{
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.play-name a{
    width: max-content;
    font-size: 0.7rem;
    color: rgb(152, 150, 150);
}

.play-name:hover a{
    color: white;
}

.download-app{
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.download-app img{
    min-width: 0;
    width: 20px;
    margin-right: 0.5rem;
    opacity: 0.5;
}

.download-app:hover img{
    opacity: 1;
}

.download-app a{
    width: max-content;
    font-size: 0.7rem;
    text-decoration: none;
    color:  rgb(152, 150, 150);
}

.download-app:hover a{
    color: white;
}

.user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.user img{
    width: 20px;
    background-color: gray;
    border-radius: 10px;
    margin-right: 0.7rem;
}

.user h3{
    font-size: 0.8rem;
}


/* Main- navricerca */

.main-content{
    height: calc(100vh - 10vh - 10vh);
    padding: 1rem;
    margin-top: 10vh;
}

.main-content .nav-ricerca{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
}

.nav-ricerca li{
    list-style: none;
    margin-right: 0.5rem;
    padding: 0.8rem;
}

.nav-ricerca a{
    font-size: 0.9rem;
    white-space: nowrap;
    color: lightgray;
    text-decoration: none;
}

.topmusic:hover, .podcast:hover,
.ranking:hover, .genre:hover,
.news:hover, .findout:hover{
    color: white;
}

.topmusic::after, .ranking::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    background-color: greenyellow;
    opacity: 0;

}

.podcast::after, .findout::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 0.8rem;
    margin-left: 0.6rem;
    background-color: greenyellow;
    opacity: 0;
}

.genre::after, .news::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 0.8rem;
    margin-left: 2rem;
    background-color: greenyellow;
    opacity: 0;
}

.topmusic:hover::after, .podcast:hover::after,
.ranking:hover::after, .genre:hover::after,
.news:hover::after, .findout:hover::after{
    opacity: 1;    
}

/* music-albums (photos and text) */

.album{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.playlist{
    flex: 0 0 calc((100% - (0.5rem * 5)) / 6);
}

.play-btn{
    position: relative;
}

.play-btn img{
    min-width: 0;
    width: 200px;
    display: block;
}

.play-btn:hover::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='white'%3E%3C!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
} 

.play-btn:hover::before{
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba( 0, 0, 0, 0.6);
}


.row-third .img-round img{
    display: block;
    border-radius: 200px;
    object-fit: cover;
}

.row-third .play-btn:hover::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='white'%3E%3C!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 20%;
} 

.row-third .play-btn:hover::before{
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba( 0, 0, 0, 0.6);
    border-radius: 300px;
}


/* bottom-bar play-music */

.bottom-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4000;
    padding: 1rem; 
    background-color: #282828;
}

.brano{
    display: flex;
    align-items: center;
}

.brano img{
    width: 40px;
    padding-right: 0.5rem;
}

.brano i{
    color: grey;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.text{
    padding: 0.5rem;
    line-height: 0.3rem;
}

.text h3{
    font-size: 0.8rem;
}

.text span{
    font-size: 0.6rem;
    color: gray;
}

.play{
    display: flex;
    align-items: flex-start;
    margin-top: -1.2rem;
}

.play i{
    font-size: 1rem;
    padding-right: 1rem;
}

.minutes span{
    font-size: 0.4rem;
    padding-left: 0.5rem;
}

.player{
    position: relative;
}

.play::before{
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    position: absolute;
    bottom: -15px;
    left: -80px;
    font-size: 0.8rem;
    background-color: lightgray;
    z-index: 2;
}

.play::after{
    content: " ";
    display: block;
    width: 300px;
    height: 4px;
    position: absolute;
    bottom: -15px;
    left: -80px;
    background-color: grey;
}

.min-start{
    position: absolute;
    bottom: -20px;
    left: -120px;
    font-size: 0.8rem;
}

.min-end{
    position: absolute;
    bottom: -20px;
    right: -120px;
    font-size: 0.8rem;
}

.volume{
    margin-right: 6rem;
    font-size: 0.7rem;
}

.volume::before{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    position: absolute;
    bottom: 35px;
    right: 70px;
    font-size: 0.8rem;
    background-color: lightgray;
    z-index: 2;
}

.volume::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    position: absolute;
    bottom: 35px;
    right: 10px;
    background-color: grey;
}