/* General settings */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    color: white;
}

h2{
    font-family: 'League Gothic', sans-serif;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3, .subtitle{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Main box structure */

.spotify-box{
    display: flex;
}

.side-bar{
    flex: 0 0 200px;
    z-index: 3000;
    background-color: black;
}

.top-main{
    flex: 0 0 calc(100% - 200px);
    overflow-y: auto;
    background-color: #141922;
}

.top-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: rgba( 0, 0, 0, 0.4);
}

.btn-top{
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    text-decoration: none;
}

/* Side bar elements */
.side-bar{
    padding: 1rem;
}

.side-bar .logo{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.logo img{
    min-width: 0;
    width: 40px;
    margin-right: 0.5rem;
    color: white;
}

.logo h1{
    font-size: 1.5rem;
}

.link-icon{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.link-icon img{
    min-width: 0;
    width: 30px;
    padding-right: 0.5rem;
}

.link-icon a, .side-playlist a{
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
}

.side-playlist h3{
    text-align: start;
    font-size: 0.8rem;
}

.side-playlist a{
    font-size: 0.7rem;
}

.side-playlist .plus-icon{
    font-size: 2rem;
    padding-right: 0.5rem;
}

.play-name{
    line-height: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.play-name a{
    font-size: 0.7rem;
    color: rgb(152, 150, 150);
}

.download-app{
    display: flex;
    margin-top: 8rem;
    border-bottom: 1px solid grey;
}

.download-app img{
    min-width: 0;
    width: 20px;
    margin-right: 0.5rem;
    color:  rgb(152, 150, 150);
}

.download-app a{
    font-size: 0.7rem;
    text-decoration: none;
    color:  rgb(152, 150, 150);
}

.user{
    display: flex;
}

.user img{
    min-width: 0;
    width: 20px;
    margin-right: 0.5rem;
    color: lightgray;
}

.user a{
    font-size: 1rem;
}


/* Main- Albums */

.main-content{
    height: calc(100vh - 10vh - 10vh);
    padding: 1rem;
    margin-top: 10vh;
}

.main-content .nav-ricerca{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.nav-ricerca li{
    list-style: none;
    padding: 0.8rem;
}

.nav-ricerca a{
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.album{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.playlist{
    flex: 0 0 calc((100% - (0.5rem * 5)) / 6);
}

.playlist img{
    min-width: 0;
    width: 200px;
    display: block;
}

.row-third .img-round img{
    display: block;
    border-radius: 200px;
    object-fit: cover;
}


/* bottom-bar play-music */

.bottom-bar{
    height: 10vh;
    z-index: 4000;  
    background-color: #282828;
}